// Brand Colors

// #f4941c
// #fc941c
// #94949b
// #d49c5c
// #cf9c68
// #ec9432
// #f4942c
// #f49c20
// #f49424

// $primary-dark: #ad1457;
// $primary-light: #ffe1ec;


$primary-color: #f4941c;
$primary-dark: #f49424;
$primary-light: #ec9432;

// $secondary-color: #94949b;
$secondary-color: #404044;
$primary-base: #fff0f5;
$pink-color: #c2185b;

// Text Colors
$text-light: #ffffff;
$white-color: #ffffff;
$text-dark: #1b1919;
$text-muted: #aaaaaa;
$text-h1: #aaaaaa;

// Backgrounds

$bg-dark: #1b1919;
$bg-light: #f8f8f8;

// Border Colors
$border-light: #e0e0e0;


// $primary-color: #c2185b;
// $secondary-color: #444;
// $light-color: #777;
// $background-color: #fff;
$font-family: 'Poppins', sans-serif;