@import '../styles/colors';

.custom-navbar {
  background-color: $secondary-color;

  .navbar-logo {
    width: 100px;
    height: auto;
    // background: #cac8c8;
  }

  .logo-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: $white-color;
  }

  .nav-link-custom,
  .navbar-nav .nav-link {
    color: $white-color !important;
    font-weight: 500;

    &:hover {
      color: $primary-color!important;
    }
  }

  .navbar-nav {
    .dropdown-menu {
      background-color: $secondary-color;
    }

    .dropdown-item {
      color: $white-color;

      &:hover {
        background-color: $primary-color;
      }
    }
  }

  .contact-btn {
    background-color: $secondary-color;
    color: $text-light !important;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 600;
    transition: 0.3s ease;
    border: 1px solid $text-light !important;

    &:hover {
      background-color: $white-color;
      color: $text-light !important;
      border: 2px solid $secondary-color;
    }
  }
}
